<ion-card *ngIf="timer">
    <ion-card-header>
        <div class="radial-progress" data-progress="0">
            <div class="circle">
                <div class="mask full" [style.transform]="transform">
                    <div class="fill" [style.transform]="transform"></div>
                </div>
                <div class="mask half">
                    <div class="fill" [style.transform]="transform"></div>
                    <div class="fill fix" [style.transform]="fixTransform"></div>
                </div>
                <div class="shadow"></div>
            </div>
            <div class="inset">
                <button ion-button color="lwf-blue"
                        class="accept-order"
                        (click)="acceptedAction()">ACCEPT
                </button>
            </div>
        </div>
        <button ion-button *ngIf="!timeInSeconds || timeInSeconds == 0" large block clear class="timer-button">Timer set
            up incorrectly
        </button>
    </ion-card-header>
    <ion-item *ngIf="timeInSeconds && timeInSeconds > 0">
        <div class="percentage">{{timer.displayTime}}</div>
        <button ion-button
                class="large"
                item-end
                (click)="refusedAction()">
            Refuse
        </button>
    </ion-item>
</ion-card>
