<ion-header>
    <ion-navbar>
        <ion-title><span translate>orderHistory.title</span></ion-title>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="inner-container" flex flex-wrap wide>
        <ion-grid>
            <ion-row justify-center class="header-row" justify-content-around>
                <ion-col col-2 class="col-title">ID</ion-col>
                <ion-col col-4 *ngIf="isCourier()" class="col-title" translate>common.customer</ion-col>
                <ion-col col-4 *ngIf="!isCourier()" class="col-title" translate>common.courier</ion-col>
                <ion-col col-3 class="col-title" translate>common.price</ion-col>
                <ion-col col-3 class="col-title" translate>orderHistory.status</ion-col>
            </ion-row>
            <ion-row align-items-center justify-content-around
                     *ngFor="let order of completedOrders;"
                     (click)="goToOrderStatus(order.id)">
                <ion-col col-2 >{{order.id}}</ion-col>
                <ion-col col-4>{{isCourier() ? order.buyer.user.username : order.courier.user.username}}</ion-col>
                <ion-col col-3>{{order.priceRange}}Bc</ion-col>
                <ion-col col-3 [ngClass]="order.state === 'DELIVERED' ?
                            'order-status-delivered' : 'order-status-not-delivered'">
                    <ion-icon name="{{order.state === 'DELIVERED' ?
                                    'md-checkmark-circle' : 'md-close-circle'}}">
                    </ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>

</ion-content>
