crypto-modal {
    #main-content {
        padding: 15px;
        color: color($colors, lwf-dark-grey);
        ion-item {
            color: color($colors, lwf-dark-grey);
            font-size: 2rem;
            text-align: center;
            .label {
                word-break: break-word;
                white-space: normal;
            }
            .address {
                word-break: break-all;
            }
        }
        [highlight] {
            margin-top: 10px;
            font-size: 2.3rem;
        }
        textarea {
            text-align: center;
            min-height: 100px;
            width: 100%;
        }
        button {
            text-transform: none;
            font-size: 1.7rem;
        }
    }
}
